<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="https://media.discordapp.net/attachments/750214881306738749/750460851596689468/Group_2.png?width=300&height=300" width="45" height="45" loading="lazy" alt=""></a>
    <ul class="navbar-nav">
      <li class="nav-item m-2"><a class="btn btn-success" href="/tienda">Tienda</a></li>
      <li class="nav-item m-2"><a class="btn btn-success" href="/info">Informacion</a></li>
      <li class="nav-item m-2"><a class="btn btn-success" href="/contacto">Contacto</a></li>
    </ul>
</nav>
